/* Navbar */
.navbar{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar-logo a{
	text-decoration: none;
	color: #333;
	font-weight: 700;
	font-size: 1em;
}

.navbar-nav a{
	text-decoration: none;
	color: inherit;
}

.navbar-nav{
	display: flex;
	justify-content: end;
	align-items: center;
}

.navbar-nav ul{
	display: flex;
	align-items: center;
}

.navbar-nav ul li{
	list-style: none;
	margin: auto 1em;
}

#logoutLink{
	background-color: red;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #eee;
	width: 2em;
	height: 2em;
	border-radius: 50%;
}

#logoutLink i {
	pointer-events: none;
}


.default-btn{
	background: #fff;
	border: 1px solid #333;
}

.delete-btn{
	color: red;
}

.done-btn{
	color: green;
}

.undo-btn{
	color: orange;
}

.btns-div{
	display: flex;
	align-items: center;
	justify-content: end;
}

.btns-div .btn{
	font-size: .8em;
	margin: auto .2em;
}

.btns-div .btn:hover{
	background-color: #fff;
	border: 1px solid;
}

#addTaskForm{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	border: 1px solid #444;
}

#addTaskForm input{
	flex: 1;
	border: none;
}
#addTaskForm button{
	border: none;
	border-radius: 0;
}

.done-task{
	color: red !important;
	text-decoration: line-through;
	font-style: italic;
}

.form-btns{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1em 0;
	margin: 1em auto;
}

.form-btns button{
	margin: auto 1em;
}

/* Login */
.form-group{
	margin: 1em auto;
}

/* Signup */
.password-err-msg{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: .5em;
	margin: 1em auto;
	border: 2px solid red;
	color: red;
	width: fit-content;
}