{% extends "base.html" %}

{% block title %}Tasks{% endblock %}

{% block content %}
<div class="row mt-3 my-3">
	<div class="offset-md-3 col-md-6">
		<form id="addTaskForm">{% csrf_token %}
			<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
			<input type="text" class="form-control" id="taskField" required>
			<button type="submit" class="btn btn-primary">+ Task</button>
		</form>
	</div>
</div>
<div class="row">
	<div class="offset-md-3 col-md-6">
		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col-md-3"><h5>My Tasks</h5></div>
					<div class="col-md-3" id="tasksHeader"></div>
					<div class="col-md-6 btns-div">
						<button class="btn default-btn" id="allTasksBtn"><i class="bi bi-list"></i> All</button>
						<button class="btn default-btn" id="todayTasksBtn"><i class="bi bi-calendar3"></i> Today</button>
						<button class="btn default-btn" id="pendingTasksBtn"><i class="bi bi-list-task"></i> Pending</button>
					</div>
				</div>
				
			</div>
			<div class="card-body">
				<table class="table">
					<thead>
						<th>Task</th>
						<th>Status</th>
						<th>Date created</th>
						<th class="text-center">Action</th>
					</thead>
					<tbody id="tasksRow"></tbody>
				</table>
			</div>
	</div>
	</div>
	
</div>
{% endblock %}
{% block scripts %}
<script>
	const header_title = document.getElementById('tasksHeader');
	const header_title_text = document.createElement('h5');
	// Buttons
	const all_tasks_btn = document.getElementById('allTasksBtn');
	const tasks_today_btn = document.getElementById('todayTasksBtn');
	const pending_tasks_btn = document.getElementById('pendingTasksBtn');
	// Table data row
	const tasksRow = document.getElementById('tasksRow');

	function format_date(date_info){
		const formattedDate = new Date(date_info)
			.toLocaleString('en-us', {
				month: 'long',
				day: 'numeric',
				year: 'numeric',
				hour: 'numeric',
				minute: '2-digit',
				hour12: true,
			})
			.replace('AM', 'a.m.')
			.replace('PM', 'p.m.');

		return formattedDate;
	}

	document.addEventListener('DOMContentLoaded', () => {
		try{
			fetch('tasks/', {
				method: "GET",
				headers: {
					'Authorization' : `Token ${token}`
				}
			})
			.then(res => res.json())
			.then(tasks => {
				tasksRow.innerHTML = '';

				tasks.forEach(task => {
					const row = document.createElement('tr');
					row.setAttribute('data-task-id', task.id);

					row.innerHTML = `
					<td class="${task.task_complete ? 'done-task' : ''}">${task.task_title}</td>
					<td>${task.task_complete ? 'Complete' : 'Pending'}</td>
					<td>${format_date(task.date_created)}</td>
					<td class="text-center">
						<a href="#" class="${task.task_complete ? 'undo-btn' : 'done-btn'}"><i class="bi ${task.task_complete ? 'bi-arrow-counterclockwise' : 'bi-check-square'}"></i></a> | 
						<a href="#" class="delete-btn"><i class="bi bi-trash"></i></a>
					</td>
					`;
					tasksRow.appendChild(row);
				})
			})
			.catch(error => console.log(`${error}`))
			all_tasks_btn.style.display = 'none';
			tasks_today_btn.style.display = 'flex';
			pending_tasks_btn.style.display = 'flex';

		}catch{
			console.log("You have to be logged in.");
			window.location.href = "/auth_app/user-login/";
		}
	})

	tasks_today_btn.addEventListener('click', (event) => {
		try{
			fetch('tasks-today/', {
				method: "GET",
				headers: {
					'Authorization' : `Token ${token}`
				}
			})
			.then(res => res.json())
			.then(tasks => {
				tasksRow.innerHTML = '';
				header_title_text.innerHTML = "Today";
				header_title.appendChild(header_title_text);
				tasks_today_btn.style.display = 'none';
				all_tasks_btn.style.display = 'flex';
				pending_tasks_btn.style.display = 'flex';

				tasks.forEach(task => {
					const row = document.createElement('tr');
					row.setAttribute('data-task-id', task.id);

					row.innerHTML = `
					<td class="${task.task_complete ? 'done-task' : ''}">${task.task_title}</td>
					<td>${task.task_complete ? 'Complete' : 'Pending'}</td>
					<td>${format_date(task.date_created)}</td>
					<td class="text-center">
						<a href="#" class="${task.task_complete ? 'undo-btn' : 'done-btn'}"><i class="bi ${task.task_complete ? 'bi-arrow-counterclockwise' : 'bi-check-square'}"></i></a> | 
						<a href="#" class="delete-btn"><i class="bi bi-trash"></i></a>
					</td>
					`;
					tasksRow.appendChild(row);
				})
			})
			.catch(error => console.log(`Errors: ${error}`))
		}catch{
			console.log("you are not logged in");
			window.location.href = "/auth_app/user-login/"
		}
		
	})


	pending_tasks_btn.addEventListener('click', () =>{
		try{
			fetch('pending-tasks/', {
				method: "GET",
				headers: {
					'Authorization' : `Token ${token}`
				}
			})
			.then(res => res.json())
			.then(tasks => {
				tasksRow.innerHTML = ''
				
				header_title_text.innerHTML = "Pending";
				header_title.appendChild(header_title_text);
				pending_tasks_btn.style.display = 'none';
				all_tasks_btn.style.display = 'flex';
				tasks_today_btn.style.display = 'flex';

				tasks.forEach(task => {
					const row = document.createElement('tr');
					row.setAttribute('data-task-id', task.id);

					row.innerHTML = `
					<td class="${task.task_complete ? 'done-task' : ''}">${task.task_title}</td>
					<td>${task.task_complete ? 'Complete' : 'Pending'}</td>
					<td>${format_date(task.date_created)}</td>
					<td class="text-center">
						<a href="#" class="${task.task_complete ? 'undo-btn' : 'done-btn'}"><i class="bi ${task.task_complete ? 'bi-arrow-counterclockwise' : 'bi-check-square'}"></i></a> | 
						<a href="#" class="delete-btn"><i class="bi bi-trash"></i></a>
					</td>
					`;
					tasksRow.appendChild(row);
				})
			})
			.catch(error => console.log(`Error: ${error}`))
		}catch{
			console.log("you are not logged in");
			window.location.href = "/auth_app/user-login/"
		}
		
	})


	let task_form = document.getElementById('addTaskForm');
	const csrfToken = document.querySelector('input[name=csrfmiddlewaretoken]').value;

	task_form.addEventListener('submit', (event) =>{
		try{
			event.preventDefault();
			task = document.getElementById('taskField').value;
			fetch('tasks/', {
				method: 'POST',
				headers: {
					'Authorization': `Token ${token}`, 
					'Content-Type': 'application/json',
					'X-CSRFToken': csrfToken
				},
				body: JSON.stringify({
					task_title: task
				})
			}).then(res => {
				return res.json();
			})
			.then(data => {
				task_form.reset();

				const task = data;
				const row = document.createElement('tr');
				row.setAttribute('data-task-id', task.id);

				row.innerHTML = `
					<td>${task.task_title}</td>
					<td>${task.task_complete ? 'Complete' : 'Pending'}</td>
					<td>${format_date(task.date_created)}</td>
					<td class="text-center">
						<a href="#" class="done-btn"><i class="bi bi-check-square"></i></a> | 
						<a href="#" class="delete-btn"><i class="bi bi-trash"></i></a>
					</td>
				`;
				document.getElementById('tasksRow').appendChild(row);
			})
			.catch(error => console.log("ERROR!"))

		}catch{
			console.log("you are not logged in");
			window.location.href = "/auth_app/user-login/"
		}
	})

	// Mark a task as done
	document.addEventListener('click', (event) => {
		try{
			if(event.target.closest('.done-btn')){
				event.preventDefault();
				const row = event.target.closest('tr');
				const taskId = row.getAttribute('data-task-id');

				fetch(`task-detail/${taskId}/`, {
					method: 'PATCH',
					headers: {
						'Authorization' : `Token ${token}`,
						'Content-Type' : 'application/json',
						'X-CSRFToken' : csrfToken
					},
					body: JSON.stringify({task_complete: true}),
				}).then(res => {
					return res.json()
				}).then(data => {
					const statusCell = row.querySelectorAll('td')[1];
					const actionCell = row.querySelectorAll('td')[3];

					// Update status text
					statusCell.innerHTML = "Complete";
					const toggleLink = actionCell.querySelector('.done-btn');
					toggleLink.remove();

					const newToggleLink = document.createElement('a');
					newToggleLink.href = '#';
					newToggleLink.classList.add('undo-btn');
					newToggleLink.innerHTML = '<i class="bi bi-arrow-counterclockwise"></i>';
					// Insert the new link at the beginning of the cell
					actionCell.insertBefore(newToggleLink, actionCell.firstChild);

					const firstCell = row.querySelector('td');
					firstCell.classList.add('done-task');
				}).catch(error => console.log(error))
			}

		}catch{
			console.log("you are not logged in");
			window.location.href = "/auth_app/user-login/"
		}
	})

	// Reverse a done task
	document.addEventListener('click', (event) => {
		try{
			if(event.target.closest('.undo-btn')){
				event.preventDefault();
				const row = event.target.closest('tr');
				const taskId = row.getAttribute('data-task-id');

				fetch(`task-detail/${taskId}/`, {
					method: 'PATCH',
					headers: {
						'Authorization' : `Token ${token}`,
						'Content-Type' : 'application/json',
						'X-CSRFToken' : csrfToken
					},
					body: JSON.stringify({task_complete: false}),
				}).then(res => {
					return res.json()
				}).then(data => {
					const statusCell = row.querySelectorAll('td')[1];
					const actionCell = row.querySelectorAll('td')[3];

					// Update status text
					statusCell.innerHTML = "Pending";
					const toggleLink = actionCell.querySelector('.undo-btn');
					toggleLink.remove();

					const newToggleLink = document.createElement('a');
					newToggleLink.href = '#';
					newToggleLink.classList.add('done-btn');
					newToggleLink.innerHTML = '<i class="bi bi-check-square"></i>';

					actionCell.insertBefore(newToggleLink, actionCell.firstChild);

					const firstCell = row.querySelector('td');
					firstCell.classList.remove('done-task');
				}).catch(error => console.log(error))
			}

		}catch{
			console.log("you are not logged in");
			window.location.href = "/auth_app/user-login/"
		}
	})

	// Delete a task.
	// Select all delete buttons after tasks are loaded
	document.addEventListener('click', (event) => {
		try{
			if (event.target.closest('.delete-btn')) {
				event.preventDefault();

				const row = event.target.closest('tr');
				const taskId = row.getAttribute('data-task-id');

				fetch(`task-detail/${taskId}/`, {
					method: 'DELETE',
					headers: {
						'X-CSRFToken': csrfToken
					}
				})
				.then(response => {
					if (response.ok) {
						row.remove();
					} else {
						console.error('Failed to delete task.');
					}
				})
				.catch(error => {
					console.error('Error deleting task:', error);
				});
			}
		}catch{
			console.log("you are not logged in");
			window.location.href = "/auth_app/user-login/"
		}
	});

</script>
{% endblock %}