<div class="row">
	<div class="col-md-12">
		<div class="navbar">
			<div class="navbar-logo">
				<a href="">Shughuli</a>
			</div>
			<div class="navbar-nav">
				<ul>
					<li><a href="">Home</a></li>
					<li><a href="">Contact</a></li>
					<li id="logoutNav"><a href="#" id="logoutLink"><i class="bi bi-power"></i> Logout</a></li>
					<li id="loginNav"><a href="{% url 'auth_app:user_login' %}">Login</a></li>
					<li id="signupNav"><a href="{% url 'auth_app:user_signup' %}">Signup</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>